<!doctype html>
<meta charset="utf-8" />

<head>
<!--<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">-->

<!--
font-family: 'VT323', monospace;
font-family: 'Princess Sofia', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Dokdo', cursive;
font-family: 'East Sea Dokdo', cursive;
font-family: 'Creepster', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Cormorant Garamond', serif;
-->

<!-- todo: strip and remove the unused -->
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Inline|Bungee+Shade|Cormorant+Garamond|Creepster|Dokdo|East+Sea+Dokdo|Indie+Flower|Princess+Sofia|VT323" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Gaegu:300,400,700|Montserrat:300,400|Open+Sans|Raleway|Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Lato|Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,800,900" rel="stylesheet">

<link href="css/animate.css" rel="stylesheet" type="text/css">
<script src="js/lodash.min.js"></script>
<script src="js/d3.v4.min.js"></script>

<script src="js/vue.js"></script>

<script src="js/utils.js"></script>
<script src="js/forest.js"></script>

<style>

*{
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

div{
  margin-bottom: 16px;
}

/* font-family: 'Gaegu', cursive; -- cute child like handwriting */
/* font-family: 'Dokdo', cursive; -- funky */
/* font-family: 'Bungee Shade', cursive; -- pop art caps */

button{
  max-width: 150px;
  margin-right: 8px;
  cursor: pointer;

  background-color: white;
  border-radius: 4px;
}

h4{
  font-size: 18px;
  font-weight: 500;
}

a{
  color: #337ab7; /* boostrap blue */
  text-decoration: none;
  cursor: pointer;
}

img{
  max-width: 400px;
}

.dialog-text{
  font-family: 'Dokdo', cursive;  
  font-size: 32px;
  width:350px;
}

.explanation *{
  font-size: 22px;
}

.question button{
  display: block;
  font-size: 24px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 8px; 
}

.question button:hover{
  color: white;
  background-color: black;
}


.strong{
  font-weight: 900;
}

.explanation{
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 1fr auto 1fr;
  height: 500px;
}
</style>

<body>


<div id="app" style="position:relative">



<explanation>
  <div>
  Actually, it's not possible to say for sure. 
  </div>

  <div>
  Multiplying probabilities implies that the two events are independent.
  </div>

  <div>
    Being tall must provide <span class="strong">no information</span> on whether a monster has great hair.
  </div>

  <button @click="show('')">Next</button>
</explanation>



<explanation>
<div>
  Suppose tall monsters were more likely to have great hair.
</div>

<div>
  Then the probability that a random monster is datable is:
</div>

<div class="question">
<button><2/9</button>
<button>2/9</button>
<button>>2/9</button>
</div>
</explanation>


<avatar text="That's not very many people!">
  <div>Final answer for the proportion of monsters who are datable?</div>

  <button>1/4</button>
  <button>1/3</button>
  <button>1/2</button>
  <button>Can't say</button>
</avatar>




<!--
<story :visible="true">
Are you here?

If so, you are in the <a @click="show('waiting')">right place</a>.

What is the probability that you will succeed?
</story>

<once-group>
<once-button>1/2</once-button>
<once-button>1/4</once-button>
<once-button>1/8</once-button>
</once-group>


<story ref="waiting">
I have been <a @click="show('changing')">waiting</a> for you. 
</story>

<story ref="changing">
The times are changing.

The prophecies are unclear, but the times are changing.

This planet is <a @click="show('new-world')">changing</a>.
</story>

<story ref="new-world">
<div>
You are going to bring us into this new world of <span class="animated infinite jello" style="display:inline-block">uncertainty</span>.
</div>-->



<div style="max-width: 400px; margin: 0 auto; text-align: center;">


<div style="width: 150px; position:absolute; left: 0px; text-align: left; padding-left: 16px">

  <div v-for="storyPoint in storyPoints"
      @click="currentStoryPoint = storyPoint"
      style="margin-bottom: 4px;"
      :style="storyPointStyle(storyPoint)">
    <a :class="[storyPoint === currentStoryPoint ? 'active-tab': 'inactive-tab']">{{storyPoint.name}}</a>
  </div>

</div>


<keep-alive>
  <component v-bind:is="currentStoryPoint.component"></component>
</keep-alive>


</div> <!-- end centering box -->



</div> <!-- end #app -->



<!-- begin templates -->
<script type="text/x-template" id="explanation-template">
<div class="explanation">
  <div></div>
  <div></div>
  <div></div>

  <div></div>
  <div><slot></slot></div> 
  <div></div>

  <div></div>
  <div></div>
  <div></div>

</div>
</script>


<script type="text/x-template" id="avatar-template">
<div style="position: relative">

<img src="images/girl0.png" style="height: 400px; left: 50px; position:absolute; top:0px;">


<!-- Dialog box -->
<div style="position:absolute; left: 300px; top:0px;">
  <img src="images/dialog.png" >
  <div style="position: absolute; left:40px; top:23px;" class="dialog-text">
    {{text}}
  </div>
</div>

<!-- Bottom right -->
<div class="question" style="position:absolute; left: 380px; top: 300px;">
  <slot></slot>
</div>

<!-- Bottom left -->
<div style="position:absolute; top: 400px; left: 50px;">
  Facts from before:
  <ul>
    <li>1/2 of monsters are tall</li>
    <li>1/3 of monsters have great hair</li>
  </ul>
</div>


</div>
</script>


<script type="text/x-template" id="story-template">
<div v-if="isVisible"><slot></slot></div>
</script>

<script type="text/x-template" id="live-text-template">
  <div>
    <transition-group name="fade" tag="span">
      <span v-for="(token, i) in visibleTokens" :key="i" v-html="token">
      </span>
    </transition-group>
  </div>
</script>


<script type="text/x-template" id="monk-head-template">
<div class="handwriting normal-divs"
      style="display:inline-block; position:relative; white-space: nowrap;">
  <img src="images/monk_head.png" style="width:80px;">

  <!-- speech pointing to left -->
  <div v-if="hasSlot('lhs')">
    <div style="width:22px; border:1px solid black; transform:rotate(50deg); position:absolute; top:-14px; left:10px;"></div>
    <div style="position:absolute; top: -40px; left:0px;">
      <slot name="lhs"></slot>
    </div>
  </div>

  <!-- speech pointing to right -->
  <div v-if="hasSlot('rhs')">
    <div style="width:24px; border:1px solid black; transform:rotate(310deg); position:absolute; top:-14px; left:50px;"></div>
    <div style="position:absolute; top: -40px; left: 60px;">
      <slot name="rhs"></slot>
    </div>
  </div>

</div>
</script>


<!--<script type="text/x-template" id="question-template">
<div>
  <slot name="question"></slot>
  <slot name="answers"></slot>
</div>
</script>-->


<!-- end templates -->


<script>

Vue.component('avatar', {
  props: {
    text: {type: String},
  },
  template: '#avatar-template'
});

Vue.component('explanation', {
  template: '#explanation-template'
});

// Vue.component('question', {
//   template: '#question-template'
// });


// Hides content until it is revealed as part of the story.
Vue.component('story', {
  props: {
    visible: {type: Boolean, default:false},
  },
  data: function(){
    return {
      isVisible: this.visible,
    };
  },
  watch: {
    isVisible: scrollWindow,
  },
  template: '#story-template'
});


/*

How should this work:
- split the text into words
- inject the words in via setinterval
- add a transition component that makes it fade in when it is injected
*/
Vue.component('live-text', {
  props: {
    interval: {type: Number, default: 1000},
  },

  render: function (createElement) {
    var data = [];
//    debugger;

    for (var i=0; i<this.$slots.default.length; i++){
      var vnode = this.$slots.default[i];

      if (vnode.tag){
        data.push([vnode.tag, vnode.data, vnode.children])
      } else if (vnode.text){
        var tokens = vnode.text.split(' ').filter(token => token);
        data = _.concat(data, tokens.map(token => ['span', {}, token + ' ']));
      }
    }

    var vnodes = data.map(function(tuple, i){
      const tag = tuple[0];
      const nodeData = tuple[1];
      const children = tuple[2];
      const meta = {
        ref: i, 
        class: { 'hidden-at-first': true }
      };

      return createElement(tag, _.merge(meta, nodeData), children);
    });

    return createElement(
      'div',   // tag name
      vnodes, 
    )
  },

  data: function(){
    return {
      visibleTokens: [],
    };
  },

  mounted: async function(){
    var elts = _.values(this.$refs);
    var lastSentence = [];
    var currentSentence = [];

    for (var i=0; i<elts.length; i++){
      var elt = elts[i];
      currentSentence.push(elt);
      elt.style.opacity = 1;

      const isEndOfSentence = elt.textContent && elt.textContent.includes('.');
      const duration = isEndOfSentence ? 1000 : 100;
      await wait(duration);

// Fading by words.
//      elt.style.opacity = 0.5;

// Fading by sentences.
      // console.log('i: ' + i + ' len ' + elts.length);
      if (isEndOfSentence){
        lastSentence = currentSentence;
        currentSentence = [];
        // Fade the lastSentence away.
        await(2000);
        for (var j=0; j<lastSentence.length; j++){
          elt.classList.remove('hidden-at-first');
          elt.classList.add('become-dull');
          lastSentence[j].style.opacity = 0.5;
          await wait(50);
        }          
      }
    }
  },

  template: '#live-text-template'
});

var storyPoints = [
// {
//   name: 'Monk Intro',
//   component: 'monk-intro',
// },
// {
//   name: 'Monk Game',
//   component: 'monk-game',
// },
// {
//   name: 'Forest Intro',
//   component: 'forest-intro',
// },
// {
//   name: 'Forest Game',
//   component: 'forest-game',
// },
// {
//   name: 'Distribution Interlude',
//   component: 'distribution-interlude',
//   nest: 1
// },
{
  name: 'Intro',
  component: 'game-intro',
},
// {
//   name: 'Cats',
//   component: 'cat-forest',
// },


];

// Gotchas:
// DOM does not update for new property additions.
// DOM does not update for direct assignments within arrays.
// https://vuejs.org/2016/02/06/common-gotchas/#Why-isn%E2%80%99t-the-DOM-updating  
new Vue({
  el: '#app',
  data: {

    storyPoints: storyPoints,
    currentStoryPoint: storyPoints[0],

    // Obj property additions do not update DOM, so prepopulate all the keys in the object. Or use lists.
    soundNameToCount: {},
  },

  watch: {
    currentStoryPoint: function(){
      this.$root.play('swish');
    },
  },

  methods: {
    show: show, 
    renderAsPercent: renderAsPercent,

    // round_to(2.777777, 0) -> 3
    // round_to(2.777777, 2) -> 2.78
    roundTo: roundTo,

    // Changes tabs.
    setStoryPoint: function(component_name){
      var story_point = _.filter(storyPoints, {component: component_name});
      if (story_point.length !== 1){
        console.error('must match exactly one story point');
        debugger;
      }
      this.currentStoryPoint = story_point[0];
      this.play('achievement0');
    },

    // Given 0.8 --> returns {}
    paramsFromCertainty: function(certainty){
      if (certainty == 1.0){
        return {
          numLoseIfWrong: 10000000, 
          numWinIfRight: 1,
          certainty: certainty,
          percent: '100%',
        };
      }
      return {
        numWinIfRight: 1, 
        numLoseIfWrong: this.roundTo(certainty/(1-certainty), 1),
        certainty: certainty,
        percent: this.renderAsPercent(certainty)
      };      
    },

    paramsFromBet: function(num_win_if_right, num_lose_if_wrong){
      var certainty = num_lose_if_wrong/(num_win_if_right+num_lose_if_wrong);
      return this.paramsFromCertainty(certainty);
    },

    storyPointStyle: function(storyPoint){
      if (storyPoint.nest === undefined){
        return {};
      }
      return {
        'margin-left': storyPoint.nest * 8 + 'px',
        'font-size': '12px'
      };
    },

    play: function(soundName){
      console.log('playing ' + soundName);

      var audio;
      if (isNaN(soundName[soundName.length-1])){ // is string last char
        const count = this.soundNameToCount[soundName] || 0;
        this.soundNameToCount[soundName] = count+1;
        audio = new Audio('sounds/' + soundName + (count % 2) + '.wav');
      } else { // is number last char
        audio = new Audio('sounds/' + soundName + '.wav');
      }
      audio.play();      
    }
  } // end methods
});


</script>